<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!--meta tags inclusion-->
<th:block th:insert="footer.html :: head/meta"></th:block>

<title>Add – Hotelmart</title>

<!--CSS INCLUSION-->
<th:block th:insert="footer.html :: head/link"></th:block>
</head>

<body>
	<!--preloader fragment-->
	<div th:replace="footer.html :: preloader-frag"></div>

	<!-- ============================================================== -->
	<!-- Main wrapper - style you can find in pages.scss -->
	<!-- ============================================================== -->
	<div id="main-wrapper" data-theme="light" data-layout="vertical"
		data-navbarbg="skin6" data-sidebartype="full"
		data-sidebar-position="fixed" data-header-position="fixed"
		data-boxed-layout="full">

		<!-- header inclusion -->
		<div th:replace="header.html :: header-frag"></div>


		<!-- sidebar inclusion -->
		<div th:replace="sidebar.html :: sidebar('charges','addcharge')"></div>


		<!-- ============================================================== -->
		<!-- Page wrapper  -->
		<!-- ============================================================== -->
		<div class="page-wrapper">

			<!-- ============================================================== -->
			<!-- Bread crumb and right sidebar toggle -->
			<!-- ============================================================== -->
			<div class="page-breadcrumb" th:fragment="breadcrumb-frag">
				<div class="row">
					<div class="col-7 align-self-center">
						<h3 class="page-title text-dark font-weight-medium mb-1" th:text="'Add charge to Reservation ' + ${reservation.code}"></h3>
						<div class="d-flex align-items-center">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb m-0 p-0">
									<li class="breadcrumb-item"><a th:href="@{/web/home}">Dashboard</a>
									</li>
								</ol>
							</nav>
						</div>
					</div>
					<div class="col-5 align-self-center">
						<div class="customize-input float-right"></div>
					</div>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- End Bread crumb and right sidebar toggle -->
			<!-- ============================================================== -->

			<!-- ============================================================== -->
			<!-- Container fluid  -->
			<!-- ============================================================== -->
			<div class="container-fluid">

				<div class="row">
					<div class="col-10 mx-auto">
						<div class="card">
							<div class="card-body">
								<form class="mt-3 form-horizontal" action="#"
									th:action="@{/web/charges/add}" th:object="${form}" method="POST">
									<input type="hidden" th:field="*{id}" />
									<input type="hidden" name="reservation" th:value="${reservation.id}" />
									<div class="form-group row">
										<label class="col-sm-2 text-dark col-form-label">Price*:</label>
										<div class="col-sm-10">
											<input type="number" class="form-control"
												th:field="*{price}"
												th:classappend="${form.errors.containsKey('price')} ? is-invalid : null"
												placeholder="Price (FCFA)">
											<div class="invalid-feedback"
												th:if="${form.errors.containsKey('price')}"
												th:text="${form.errors.get('price')}"></div>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-2 text-dark col-form-label">Quantity*:</label>
										<div class="col-sm-10">
											<input type="number" class="form-control"
												th:field="*{quantity}"
												th:classappend="${form.errors.containsKey('quantity')} ? is-invalid : null"
												placeholder="Quantity">
											<div class="invalid-feedback"
												th:if="${form.errors.containsKey('quantity')}"
												th:text="${form.errors.get('quantity')}"></div>

										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-2 text-dark col-form-label">Date:</label>
										<div class="col-sm-10">
											<input readonly type="text" class="form-control form_datetime" th:field="*{fdate}"
												th:classappend="${form.errors.containsKey('date')} ? is-invalid : null"
												placeholder="Incurred date">
											<div class="invalid-feedback"
												th:if="${form.errors.containsKey('date')}"
												th:text="${form.errors.get('date')}"></div>

										</div>
									</div>
									
									<div class="form-group row">
										<label class="col-sm-2 text-dark col-form-label">Service:</label>
										<div class="col-sm-10">
											<select th:field="*{service}" class="form-control select2"
												th:classappend="${form.errors.containsKey('service')} ? is-invalid : null" style="width: 100%;height: 550px;">
													<th:block th:if="${service!= null}">
														<option th:value="${service.id}" th:text="${service.label}"></option>
													</th:block>
													<option th:each="sv : ${services}" th:value="${sv.id}" th:text="${sv.label}"></option>
												</select>
											<div class="invalid-feedback"
												th:if="${form.errors.containsKey('service')}"
												th:text="${form.errors.get('service')}"></div>

										</div>
									</div>
									<button class="btn pd-btn btn-primary waves-effect waves-light"
										type="submit">Save</button>
								</form>

							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- ============================================================== -->
			<!-- End Container fluid  -->
			<!-- ============================================================== -->

			<!--Footer fragment inclusion-->
			<div th:replace="footer.html :: footer-frag"></div>

		</div>
		<!-- ============================================================== -->
		<!-- End Page wrapper  -->
		<!-- ============================================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->


	<th:block th:insert="footer.html :: body/script"></th:block>
</body>

</html>